/* mobile: da 0 a 576 px
tablet: da 567 a 767 px
medium: da 768 a 991px
large: da 992 a 1199px
x-large: da 1200 a 1399px
xx-large: da 1400 a Infinite */

/* ----- NAVBAR ----- */

/* Rimozione chevron  */
@media screen and (min-width: 992px) {
  .chevronRight {
    display: none;
  }
}

/* Cambio di colore del toggle menu */
.toggle:hover {
  color: #0d6efd !important;
}

/* Underline dei link navigabili */
@media screen and (min-width: 992px) {
  .products,
  .navMenuLink {
    border-bottom: none !important;
    padding-right: 40px;
  }

  .products button {
    border-bottom: 2px solid rgb(0, 119, 255) !important;
  }

  .navMenuLink button:hover {
    border-bottom: 2px solid rgb(0, 119, 255) !important;
  }
}

/* Posizionamento link fino ai 1200px */
@media screen and (max-width: 1200px) {
  .linksHigherXl {
    display: none;
  }
  .linksLowerXl {
    display: block;
  }
}

.linkButton:hover {
  color: #0d6efd !important;
}

/* Posizionamento link dai 1200px */
@media screen and (min-width: 1200px) {
  .linksHigherXl {
    display: block;
  }
  .linksLowerXl {
    display: none;
  }
}

/* Posizionamento icona area riservata */
@media screen and (max-width: 576px) {
  .reservedAreaLowerSm {
    display: none;
  }
}

@media screen and (min-width: 577px) {
  .reservedAreaHigherSm {
    display: none;
  }
}

/* ----- HERO ----- */

/* Posizionamento delle info della pagina */
@media screen and (min-width: 992px) {
  .heroContent {
    position: absolute;
    top: 250px;
    left: 10%;
    transform: "translate(-50%, -50%)";
    width: 50%;
  }
}
