/* mobile: da 0 a 576 px
tablet: da 567 a 767 px
medium: da 768 a 991px
large: da 992 a 1199px
x-large: da 1200 a 1399px
xx-large: da 1400 a Infinite */

/* ----- BODY ----- */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* viene aggiunta opacità al caricamento dopo il login */
.pageLoading {
  opacity: 0.3;
}

/* ----- HERO ----- */

/* Posizionamento delle info della pagina */
@media screen and (min-width: 992px) {
  .heroContent {
    position: absolute;
    top: 350px;
    left: 10%;
    transform: "translate(-50%, -50%)";
    width: 50%;
  }
}

/* Posizionamento del testo sopra il carosello */
@media screen and (min-width: 1140px) {
  .heroContent {
    top: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .heroContent {
    top: 450px;
  }
}

@media screen and (min-width: 1400px) {
  .heroContent {
    top: 500px;
  }
}

@media screen and (min-width: 1550px) {
  .heroContent {
    top: 550px;
  }
}

@media screen and (min-width: 1720px) {
  .heroContent {
    top: 600px;
  }
}

@media screen and (min-width: 1780px) {
  .heroContent {
    top: 650px;
  }
}

@media screen and (min-width: 1950px) {
  .heroContent {
    top: 700px;
  }
}

.hero {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 92%, rgba(226, 236, 247, 1) 100%);
}

@media screen and (min-width: 500px) {
  .hero {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 90%, rgba(226, 236, 247, 1) 100%);
  }
}

@media screen and (min-width: 992px) {
  .hero {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 80%, rgba(226, 236, 247, 1) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 87%, rgba(226, 236, 247, 1) 100%);
  }
}

/* ----- NAVBAR ----- */

/* avatar */
.circularAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-item:active,
.dropdown-item:focus {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
}

/* Rimozione chevron  */
@media screen and (min-width: 992px) {
  .chevronRight {
    display: none;
  }
}

/* Cambio di colore del toggle menu */
.toggle:hover {
  color: #0d6efd !important;
}

/* Underline dei link navigabili */
@media screen and (min-width: 992px) {
  .products,
  .navMenuLink {
    border-bottom: none !important;
    padding-right: 40px;
  }

  .products button {
    border-bottom: 2px solid rgb(0, 119, 255) !important;
  }

  .navMenuLink button:hover {
    border-bottom: 2px solid rgb(0, 119, 255) !important;
  }
}

/* Posizionamento link fino ai 1200px */
@media screen and (max-width: 1200px) {
  .linksHigherXl {
    display: none;
  }
  .linksLowerXl {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .avatarAndUsernameLowerXl {
    display: block;
  }
  .avatarAndUsernameHigherXl {
    display: none;
  }
}

.linkButton:hover {
  color: #0d6efd !important;
}

.linkButtonJournal:hover {
  background-color: rgba(13, 110, 253, 0.1) !important;
}

/* Posizionamento link dai 1200px */
@media screen and (min-width: 1200px) {
  .linksHigherXl {
    display: block;
  }
  .linksLowerXl {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .avatarAndUsernameLowerXl {
    display: none;
  }
  .avatarAndUsernameHigherXl {
    display: block;
  }
}

/* Posizionamento icona area riservata */
@media screen and (max-width: 576px) {
  .reservedAreaLowerSm {
    display: none;
  }
}

@media screen and (min-width: 577px) {
  .reservedAreaHigherSm {
    display: none;
  }
}

/* stilizzazione username */

.username {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  color: black;
}

/* ----- RESERVED AREA ----- */

.cardLogin {
  -webkit-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.47);
}

@media screen and (min-width: 992px) {
  .cardLogin {
    margin-top: 250px;
  }
}

/* Colore personalizzato dei bottoni */
.navigationBtn {
  background-color: rgb(26, 13, 43);
  border: 0px;
}

.navigationBtn:hover {
  background-color: #568fcf;
}

.navigationBtn:active {
  background-color: rgb(26, 13, 43) !important;
  box-shadow: none !important;
}

/* ----- LOGIN ----- */

/* Classe personalizzata per rimuovere il bordo dal form.control  */
.no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

.headerLogin {
  background: rgb(255, 255, 255);
  background: radial-gradient(closest-corner, rgba(255, 255, 255, 1) 70%, rgba(86, 143, 207, 0.4) 100%);
}
@media screen and (max-width: 768px) {
  .imageLogin {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .loginProfessionals {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .loginProfessionals {
    padding-right: 150px;
  }
}

.energyImage {
  opacity: 0.2;
}

/* ----- BUILDING EVALUATION ----- */

/* stilizzazione del bottone per simular un calcolo del carico termico per l'edificio */
.btnEvaluation {
  width: 150px;
  border: 0px;
  border-radius: 0;
  background-color: rgb(26, 13, 43);
}

.btnEvaluation:hover {
  background-color: #568fcf;
  scale: 1.02;
}

.btnEvaluation:active {
  background-color: rgb(26, 13, 43) !important;
  box-shadow: none !important;
}

.cardSelection {
  max-width: 200px;
}

.cardSelection:hover {
  background-color: #c4d2e2;
  scale: 1.03;
  color: #568fcf;
}

/* barra dello slider */
.form-range.sliderAreaBuilding::-webkit-slider-runnable-track {
  background: #dfe3e7;
}

/* cursore dello slider */
.form-range.sliderAreaBuilding::-webkit-slider-thumb {
  background: #568fcf;
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* cursor: pointer; */
}

.formRegion:focus {
  outline: none;
  box-shadow: none;
}

.inputInsulation .form-control:focus,
.inputInsulation .input-group:focus-within {
  outline: none;
  box-shadow: none;
  border-color: inherit !important;
}

/* ----- FOOTER ----- */

.containerFooter {
  background-color: rgb(250, 248, 248);
}

.footerLink:hover {
  color: #0d6efd !important;
}

/* ----- BUILDING EVALUATION ----- */

@media screen and (min-width: 992px) {
  .buildingEvaluation {
    margin-top: 300px;
  }
}

/* ----- ALL PRODUCTS ----- */

.btnBuyProduct {
  border: 0px;
  background-color: rgb(26, 13, 43);
}

.btnBuyProduct:hover {
  background-color: #568fcf;
  scale: 1.02;
}

.btnBuyProduct:active {
  background-color: rgb(26, 13, 43) !important;
  box-shadow: none !important;
}
