/* mobile: da 0 a 576 px
tablet: da 567 a 767 px
medium: da 768 a 991px
large: da 992 a 1199px
x-large: da 1200 a 1399px
xx-large: da 1400 a Infinite */

/* ----- NAVBAR ----- */

/* Rimozione chevron  */
@media screen and (min-width: 992px) {
  .chevronRight {
    display: none;
  }
}

/* Cambio di colore del toggle menu */
.toggle:hover {
  color: #0d6efd !important;
}

/* Underline dei link navigabili */
@media screen and (min-width: 992px) {
  .products,
  .navMenuLink {
    border-bottom: none !important;
    padding-right: 40px;
  }

  .products button {
    border-bottom: 2px solid rgb(0, 119, 255) !important;
  }

  .navMenuLink button:hover {
    border-bottom: 2px solid rgb(0, 119, 255) !important;
  }
}

/* Posizionamento link fino ai 1200px */
@media screen and (max-width: 1200px) {
  .linksHigherXl {
    display: none;
  }
  .linksLowerXl {
    display: block;
  }
}

.linkButton:hover {
  color: #0d6efd !important;
}

.linkButtonJournal:hover {
  background-color: rgba(13, 110, 253, 0.1) !important;
}

/* Posizionamento link dai 1200px */
@media screen and (min-width: 1200px) {
  .linksHigherXl {
    display: block;
  }
  .linksLowerXl {
    display: none;
  }
}

/* Posizionamento icona area riservata */
@media screen and (max-width: 576px) {
  .reservedAreaLowerSm {
    display: none;
  }
}

@media screen and (min-width: 577px) {
  .reservedAreaHigherSm {
    display: none;
  }
}

/* ----- HERO ----- */

/* Posizionamento delle info della pagina */
@media screen and (min-width: 992px) {
  .heroContent {
    position: absolute;
    top: 350px;
    left: 10%;
    transform: "translate(-50%, -50%)";
    width: 50%;
  }
}

/* ----- RESERVED AREA ----- */

.cardLogin {
  -webkit-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.47);
}

/* Colore personalizzato dei bottoni */
.navigationBtn {
  background-color: #124579;
  border: none;
}

.navigationBtn:hover {
  background-color: #124579;
  border: none;
}

/* ----- LOGIN ----- */

/* Classe personalizzata per rimuovere il bordo dal form.control  */
.no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  .imageLogin {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .loginProfessionals {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .loginProfessionals {
    padding-right: 150px;
  }
}

/* ----- FOOTER ----- */

.containerFooter {
  background-color: rgb(250, 248, 248);
}

.footerLink:hover {
  color: #0d6efd !important;
}
